*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #121214;
}

*:focus {
  outline: none;
  border: 2px solid #b6d0f5;
}
